html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#debug {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    border: 2px solid white;
    font-size: 12px;
    display: none;
}

#debug table {
    font-size: 12px;
}

#debug th {
    text-align: left;
    text-transform: uppercase;
}

#debug input {
    width: 50px;
    border: none;
    margin-right: 2px;
    text-align: right;
}

#debug h1 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    text-align: center;
}
